* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

body main {
  padding: 5rem;
}

body header .nav {
  padding: 0 0 0 4.5rem;
}

.nav ul {
  list-style: none;
  background-color: #ffffff;
  text-align: left;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.nav li {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #ffffff;
  margin: 0 0 0 0;
  padding-left: 2rem;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transform: scale(1);
  transition: 0.4s ease-in-out;
  text-align: center;
}

.nav a:hover {
  background-color: #b0e0a6;
  color: rgb(0, 0, 0);
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
}

/* active class to control the menu item style when we are in the page assigned to it */

.nav a.active {
  background-color: #ffffff;
  color: #444;
  cursor: default;
}

/* main tittle  */

body header #main-title {
  text-align: left;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  padding: 3rem 3rem 3rem 6rem;
}

/* gallery styles  */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.gallery-grid .gallery-frame .gallery-frame-info {
  display: flex;
  flex-direction: column;
}

.gallery-grid .gallery-frame .gallery-frame-info sup {
  padding: 0.7rem;
}

.gallery-grid .gallery-frame .gallery-frame-info button {
  width: 16rem;
  font-size: 1rem;
  align-self: center;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #ffffff00;
  border: solid white;
  color: white;
}

/* The Picture Frame */
.gallery-frame {
  padding: 0;
  font-size: 1.2rem;
  text-align: center;
  background-color: #28293d;
  color: #ffffff;
  margin: 0 1rem 0 1rem;
}

/* The Images */
.gallery-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s ease;
  /* transition: opacity 0.25s ease-in-out; */
}

.gallery-img:hover {
  opacity: 0.7;
  transition: 0.5s ease;
  cursor: pointer;
}

/* Tablet style change */

@media screen and (min-width: 768px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
}

/* Desktop style change */

@media screen and (min-width: 1024px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
}
/* 
Footer styles  */

body #footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20rem; /* Footer height */
  background-color: #28293d;
  justify-content: center;
  padding-left: 6rem;
}

/* banner image */

#banner-img {
  position: relative;
  width: 100vw;
  height: 560px;
}

#banner-img #logo-title {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
  font-size: 2rem;
}

#banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-wrapper {
  width: 40%;
  color: #ffffff;
  margin-top: 1rem;
}

.contact-wrapper #contact-form {
  display: flex;
  flex-direction: row;
}

#contact-form #comment-wrapper {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

#contact-form #comment-wrapper #submit-comment {
  width: 7rem;
  margin: 1rem 0 0 0;
  align-self: flex-end;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #ffffff00;
  border: solid white;
  color: white;
}

#field-contact-group {
  display: flex;
  flex-direction: column;
}

#field-contact-group input {
  max-width: 400px;
  margin: 1rem;
}
