* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background: #ffffff;
  
}

body header #contact-banner{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28293c;
  height: 4.5rem;
  color: #fff;
  text-align: right;
}

body header #contact-banner #contact-us-link{
 padding: 1rem;

}

body header #contact-banner #logo{
  padding: 1rem;
 }


body main {
  padding: 3rem;
  
}

body header .nav {
  padding: 0 0 0 3rem;
}

.nav ul {
  list-style: none;
  background-color: #ffffff;
  text-align: left;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.nav li {
  display: inline;
  font-family: "Roboto", sans-serif;
  height: 5px;
  font-size: 1.5rem;
  line-height: 1rem;
  border-bottom: 1px solid #ffffff;
  margin: 0 0 0 0;
  padding-left: 2rem;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transform: scale(1);
  transition: 0.4s ease-in-out;
  text-align: center;
}

.nav a:hover {
  background-color: #518caa7c;
  color: rgb(0, 0, 0);
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  padding: 5px;
  
}

/* active class to control the menu item style when we are in the page assigned to it */

.nav a.active {
  background-color: #ffffff;
  color: #444;
  cursor: default;
}

/* main tittle  */

body header #main-title {
  text-align: left;
  font-size: 3.25rem;
  font-family: "Roboto", sans-serif;
  padding: 3rem;
}

/* gallery styles  */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.gallery-grid .gallery-frame .gallery-frame-info {
  display: flex;
  flex-direction: column;
  height:172px;
}

.gallery-grid .gallery-frame .gallery-frame-info sup {
  padding: 0.7rem;
}

.gallery-grid .gallery-frame .gallery-frame-info button {
  width: 16rem;
  font-size: 1rem;
  align-self: center;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #ffffff00;
  border: solid white;
  color: white;
  cursor: pointer;
}

.gallery-grid .gallery-frame .gallery-frame-info button:hover {
  background-color: #518caa;
}

.gallery-grid .gallery-frame .gallery-frame-info button a{
  text-decoration: none;
  color: #fff;
}

/* The Picture Frame */
.gallery-frame {
  padding: 0;
  font-size: 1.2rem;
  text-align: center;
  background-color: #28293d;
  color: #ffffff;
  margin: 0 1rem 0 1rem;
}

/* The Images */
.gallery-img {
  max-width: 100%;
  height: 382px;
  object-fit: cover;
  transition: 0.5s ease;
  /* transition: opacity 0.25s ease-in-out; */
}

.gallery-img:hover {
  opacity: 0.7;
  transition: 0.5s ease;
  cursor: pointer;
}

/* Tablet style change */

@media screen and (min-width: 768px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.5;
  }

  .nav li {
    display: inline;
    margin-right: -4px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
}

/* Desktop style change */

@media screen and (min-width:1366px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 5px;
    line-height: .5rem;
    font-size: 1.4em;
  }

  .nav li {
    display: inline;
    margin-right: -4px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
}


/* banner image */

#banner-img {
  position: relative;
  width: 100vw;
  height: 48rem;
}

#banner-img #logo-title {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
  font-size: 2rem;
}

#banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer styles  */

body #footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50rem; /* Footer height */
  background-color: #28293d;
  justify-content: center;
}

#sub-footer{
  background-color: #ffffff;
  height: 25.6rem;
}

#sub-footer #social-container #footer-logo{
  align-self: center;
}

#sub-footer #social-container #media-icon-links{
  align-self: center;
}

#sub-footer #social-container #media-icon-links svg{
margin: 18px;;
}


.contact-wrapper {
  width: 100%;
  color: #ffffff;
  margin-top: 1rem;
}

.contact-wrapper #contact-title ,#contact-sub-title{
  color:#ffffff;
}

.contact-wrapper #contact-title{
  width: 32ch;
  margin-left: 4rem;
}

.contact-wrapper #contact-sub-title{
  width: 64ch;
  margin-left: 4rem;
}


.contact-wrapper #contact-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  margin-left: 4rem;
}

#contact-form #comment-wrapper {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

#contact-form #comment-wrapper #submit-comment {
  width: 7rem;
  margin: 2.5rem 0 0 0;
  align-self: flex-end;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #ffffff00;
  border: solid white;
  color: white;
  cursor: pointer;
}

#contact-form #comment-wrapper #submit-comment:hover {
  background-color: #518caa;
}

#field-contact-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#field-contact-group input {
  max-width: 400px;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

#social-container{
  display: flex;
  flex-direction: column;
  color: black;
}

#social-container h1{
  text-align: center;
}

#social-container #span-line-container hr{
  margin-left: 4rem;
  margin-right: 4rem;
}



/* to hide scrollbar in firefox  */

html {
  scrollbar-width: none;
}

/* to hide scrollbar in chrome  */

body::-webkit-scrollbar {
  display: none;
}
